mat-toolbar {
  justify-content: space-between;
  background-color: #fff;
}

.logo {
  width: 125px;
}

.menu button {
  display: none;
}

.menu a {
  text-decoration: none;
  color: #180e11
}

.menu a:visited {
  color: #180e11;
}

/*
=============================================
MEDIA QUERIES
=============================================
*/

@media (min-width: 992px) {
  .desktop-menu button {
    display: inline;
    background-color: #fff;
    color: #180e11;
    border: none;
    height: 40px;
    font-size: 1.1rem;
    border-radius: 5px;
  }

  .desktop-menu button:hover {
    background-color: antiquewhite;
    color: #fff;
  }

  .mobile-menu {
    display: none;
  }
}

@media (min-width: 768px) and (max-width: 991px) {
   .desktop-menu button {
     display: inline;
    background-color: #fff;
    color: #180e11;
    border: none;
    height: 30px;
    font-size: 1.1rem;
  }

  .mobile-menu {
    display: none;
  }
}

@media (min-width: 480px) and (max-width: 767px) {
  .desktop-menu button {
    display: inline;
    background-color: #fff;
    color: #180e11;
    border: none;
    height: 30px;
    font-size: 1.1rem;
  }

  .mobile-menu {
    display: none;
  }
}