mat-toolbar {
  justify-content: space-between;
  background-color: #bf68c2;
}

.menu {
  
}

.logo {
  width: 125px;
}

.menu button {
  display: none;
}


/*
=============================================
MEDIA QUERIES
=============================================
*/

@media (min-width: 992px) {
  .desktop-menu button {
    display: inline;
    background-color: #bf68c2;
    color: antiquewhite;
    border: none;
    height: 40px;
    font-size: 1.1rem;
    border-radius: 5px;
  }

  .desktop-menu button:hover {
    background-color: antiquewhite;
    color: #bf68c2;
  }

  .mobile-menu {
    display: none;
  }
}

@media (min-width: 768px) and (max-width: 991px) {
   .desktop-menu button {
     display: inline;
    background-color: #bf68c2;
    color: antiquewhite;
    border: none;
    height: 30px;
    font-size: 1.1rem;
  }

  .mobile-menu {
    display: none;
  }
}

@media (min-width: 480px) and (max-width: 767px) {
  .desktop-menu button {
    display: inline;
    background-color: #bf68c2;
    color: antiquewhite;
    border: none;
    height: 30px;
    font-size: 1.1rem;
  }

  .mobile-menu {
    display: none;
  }
}