<mat-toolbar>
  <img class="logo" alt="Logo" src="../../assets/images/CS_web_developer_black.png">
  <span class="menu">
    <span class="desktop-menu">
    <button id="home-button"><a href="/">HOME</a></button>
    <button><a href="#projects">PROJECTS</a></button>
    <button><a href="#contact">CONTACT</a></button>
  </span>
  <button class="mobile-menu" mat-button [matMenuTriggerFor]="menu">
    <mat-icon>menu</mat-icon>
  </button>
  <mat-menu #menu="matMenu">
    <button mat-menu-item><a href="/">HOME</a></button>
    <button mat-menu-item><a href="#projects">PROJECTS</a></button>
    <button mat-menu-item><a href="#contact">CONTACT</a></button>
  </mat-menu>
</span>
</mat-toolbar>