mat-toolbar {
  justify-content: space-between;
  background-color: #fff;
  padding-left: 0;
  padding-right: 0;
  padding-bottom: 7px;
}

.logo {
  height: 100px;
  margin-left: -19px;
}

.mobile-menu {
  display: block;
}

.desktop-menu {
  display: none;
}

button a {
  text-decoration: none;
  color: #180e11
}

button a:visited {
  color: #180e11;
}

/*
=============================================
MEDIA QUERIES
=============================================
*/

@media (min-width: 992px) {
  .desktop-menu button {
    background-image: none;
    text-shadow: none;
    display: inline;
    background-color: #fff;
    color: #180e11;
    border: none;
    height: 40px;
    font-size: 1.1rem;
    border-radius: 5px;
  }

  .desktop-menu {
    display: block;
  }

  .desktop-menu button a:hover {
    border-bottom: 0.5px solid #606c88;
  }

  .mobile-menu {
    display: none;
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  .desktop-menu button {
    background-image: none;
    text-shadow: none;
    display: inline;
    background-color: #fff;
    color: #180e11;
    border: none;
    height: 40px;
    font-size: 1.1rem;
    border-radius: 5px;
  }

  .desktop-menu button a:hover {
    border-bottom: 0.5px solid #606c88;
  }

  .desktop-menu {
    display: block;
  }

  .mobile-menu {
    display: none;
  }
}

@media (min-width: 480px) and (max-width: 767px) {
  .desktop-menu button {
    background-image: none;
    text-shadow: none;
    display: inline;
    background-color: #fff;
    color: #180e11;
    border: none;
    height: 40px;
    font-size: 1.1rem;
    border-radius: 5px;
  }

  .desktop-menu button a:hover {
    border-bottom: 0.5px solid #606c88;
  }

  .desktop-menu {
    display: block;
  }

  .mobile-menu {
    display: none;
  }
}