.projects {
    width: 90%;
    margin: 0 auto;
  }

  mat-grid-tile {
    box-shadow: 0.6px 1.1px 1.1px hsl(0deg 0% 0% / 0.48);
  }

  mat-grid-tile p {
    color: #fff;
    font-weight: 600;
    display: none;
    line-height: 1.5;
    text-align: center;
  }

  .description, .more-info {
    font-size: 3vw;
  }
  
  .cs-web-developer-black-small, .email, .github, .linkedin
  { display: inline-block; background: url('/assets/images/sprite.png') no-repeat; overflow: hidden; text-indent: -9999px; text-align: left; }
   
  .cs-web-developer-black-small { background-position: -0px -0px; width: 240px; height: 100px; }
  .email { background-position: -0px -100px; width: 32px; height: 32px; }
  .github { background-position: -32px -100px; width: 32px; height: 32px; }
  .linkedin { background-position: -64px -100px; width: 32px; height: 32px; }
  
  #tile1 {
    background-image: url("/assets/images/pie-review.jpg?v=1");
    background-repeat: no-repeat;
    background-size: 100%;
  }
  
  #tile1:hover {
    background-image: none;
    background-color: #f0da17;
  }
  
  #tile2 {
    background-image: url("/assets/images/lost-in-translation.jpg?v=1");
    background-repeat: no-repeat;
    background-size: 100%;
  }
  
  #tile2:hover {
    background-image: none;
    background-color: #f10b63;
  }
  
  #tile3 {
    background-image: url("/assets/images/cornelia-schulz-photography-react.jpg?v=1");
    background-repeat: no-repeat;
    background-size: 100%;
  }
  
  #tile3:hover {
    background-image: none;
    background-color: #6ee65e;
  }
  
  #tile4 {
    background-image: url("/assets/images/photolocations.jpg?v=1");
    background-repeat: no-repeat;
    background-size: 100%;
  }
  
  #tile4:hover {
    background-image: none;
    background-color: #682acc;
  }
  
  .title {
    font-size: 4vw;
    font-weight: 600;
    line-height: 2.5;
  }

  @media (min-width: 600px) {
    .title {
      font-size: 2.5vw;
      line-height: 1;
    }

    .description {
      font-size: 1.6vw;
      line-height: 1.3;
    }

    .more-info {
      font-size: 1.6vw;
      line-height: 2.5;
    }
  }

  @media (min-width: 484px) {
    .title {
      font-size: 3.5vw;
      line-height: 2;
    }

    mat-grid-tile p {
      margin: 0 10px;
    }

    .description, .more-info {
      font-size: 2.5vw;
    }
  }