<div class="projects" id="projects">
  <h2>{{title}}</h2>
  <mat-grid-list [cols]="breakpoint" rowHeight="2:1" (window:resize)="onResize($event)">
    <mat-grid-tile id="tile1" (mouseenter)="showText('tile1')" (mouseleave)="hideText('tile1')"
      (click)="openDialog('1')">
      <p>
        <span class="title">Photography Portfolio React</span><br />
        <span>A new version of my photography portfolio.</span><br />
        <span>More info <mat-icon>touch_app</mat-icon></span>
      </p>
    </mat-grid-tile>
    <mat-grid-tile id="tile2" (mouseenter)="showText('tile2')" (mouseleave)="hideText('tile2')"
      (click)="openDialog('2')">
      <p>
        <span class="title">Lost in Translation</span><br />
        <span>A personal blog about Localisation topics</span><br />
        <span>More info <mat-icon>touch_app</mat-icon></span>
      </p>
    </mat-grid-tile>
    <mat-grid-tile id="tile3" (mouseenter)="showText('tile3')" (mouseleave)="hideText('tile3')"
      (click)="openDialog('3')">
      <p>
        <span class="title">Frogger</span><br />
        <span>My personal take on the popular game Frogger</span><br />
        <span>More info <mat-icon>touch_app</mat-icon></span>
      </p>
    </mat-grid-tile>
    <mat-grid-tile id="tile4" (mouseenter)="showText('tile4')" (mouseleave)="hideText('tile4')"
      (click)="openDialog('4')">
      <p>
        <span class="title">Cornelia Schulz Photography</span><br />
        <span>My personal photography site</span><br />
        <span>More info <mat-icon>touch_app</mat-icon></span>
      </p>
    </mat-grid-tile>
    <mat-grid-tile id="tile5" (mouseenter)="showText('tile5')" (mouseleave)="hideText('tile5')"
      (click)="openDialog('5')">
      <p>
        <span class="title">Photo Locations</span><br />
        <span>Find and record your favourite photography spots</span><br />
        <span>More info <mat-icon>touch_app</mat-icon></span>
      </p>
    </mat-grid-tile>
    <mat-grid-tile id="tile6" (mouseenter)="showText('tile6')" (mouseleave)="hideText('tile6')"
      (click)="openDialog('6')">
      <p>
        <span class="title">Where in the World</span><br />
        <span>A coding challenge from Frontend Mentor</span><br />
        <span>More info <mat-icon>touch_app</mat-icon></span>
      </p>
    </mat-grid-tile>
    <mat-grid-tile id="tile7" (mouseenter)="showText('tile7')" (mouseleave)="hideText('tile7')"
      (click)="openDialog('7')">
      <p>
        <span class="title">URL Shortening</span><br />
        <span>Shorten a URL, a Frontend Mentor challenge.</span><br />
        <span>More info <mat-icon>touch_app</mat-icon></span>
      </p>
    </mat-grid-tile>
    <mat-grid-tile id="tile8" (mouseenter)="showText('tile8')" (mouseleave)="hideText('tile8')"
      (click)="openDialog('8')">
      <p>
        <span class="title">Pricing Component</span><br />
        <span>A Frontend Mentor Coding challenge.</span><br />
        <span>More info <mat-icon>touch_app</mat-icon></span>
      </p>
    </mat-grid-tile>
  </mat-grid-list>
</div>