.projects {
    width: 90%;
    margin: 0 auto;
  }

  mat-grid-tile p {
    color: #fff;
    font-size: 3vw;
    font-weight: 600;
    display: none;
    line-height: 4vw;
    padding-left: 10px;
    padding-right: 10px;
  }
  
  .cs-web-developer-black-small, .email, .github, .linkedin
  { display: inline-block; background: url('/assets/images/sprite.png') no-repeat; overflow: hidden; text-indent: -9999px; text-align: left; }
   
  .cs-web-developer-black-small { background-position: -0px -0px; width: 240px; height: 100px; }
  .email { background-position: -0px -100px; width: 32px; height: 32px; }
  .github { background-position: -32px -100px; width: 32px; height: 32px; }
  .linkedin { background-position: -64px -100px; width: 32px; height: 32px; }
  
  #tile1 {
    background-image: url("/assets/images/cornelia-schulz-photography-react.jpg?v=1");
    background-repeat: no-repeat;
    background-size: 100%;
  }
  
  #tile1:hover {
    background-image: none;
    background-color: #f0da17;
  }
  
  #tile2 {
    background-image: url("/assets/images/lost-in-translation.jpg?v=1");
    background-repeat: no-repeat;
    background-size: 100%;
  }
  
  #tile2:hover {
    background-image: none;
    background-color: #f10b63;
  }
  
  #tile3 {
    background-image: url("/assets/images/frogger.jpg?v=1");
    background-repeat: no-repeat;
    background-size: 100%;
  }
  
  #tile3:hover {
    background-image: none;
    background-color: #6ee65e;
  }
  
  #tile4 {
    background-image: url("/assets/images/cornelia-schulz-photography.jpg?v=1");
    background-repeat: no-repeat;
    background-size: 100%;
  }
  
  #tile4:hover {
    background-image: none;
    background-color: #682acc;
  }

  #tile5 {
    background-image: url("/assets/images/photolocations.jpg?v=1");
    background-repeat: no-repeat;
    background-size: 100%;
  }
  
  #tile5:hover {
    background-image: none;
    background-color: #0033ff;
  }
  
  #tile6 {
    background-image: url("/assets/images/where-in-the-world.jpg?v=1");
    background-repeat: no-repeat;
    background-size: 100%;
  }
  
  #tile6:hover {
    background-image: none;
    background-color: #ff6600;
  }

  #tile7 {
    background-image: url("/assets/images/url-shortening.jpg?v=1");
    background-repeat: no-repeat;
    background-size: 100%;
  }
  
  #tile7:hover {
    background-image: none;
    background-color: #43A047;
  }

  #tile8 {
    background-image: url("/assets/images/pricing-component.jpg?v=1");
    background-repeat: no-repeat;
    background-size: 100%;
  }
  
  #tile8:hover {
    background-image: none;
    background-color: #EC407A;
  }
  
  .title {
    font-size: 4vw;
    font-weight: 600;
  }

  @media only screen and (min-width: 600px) {
    .title {
      font-size: 2.8vw;
    }

    mat-grid-tile p {
      font-size: 2vw;
      line-height: 1;
    }
  }