#banner-video {
  width: 100%;
  display: none;
}

#banner-image {
  width: 100%;
}

.title {
  position: absolute;
  bottom: 34%;
  left: 8%;
  font-size: 1rem;
  color: antiquewhite;
  opacity: 0.7;
}

.title-buttons {
  display: none;
}

.title button {
  height: 50px;
  background-color: Transparent;
  background-repeat: no-repeat;
  cursor: pointer;
  overflow: hidden;
  outline: none;
  width: 130px;
  border-radius: 5px;
  color: antiquewhite;
  margin-right: 5px;
  font-family: 'Raleway', sans-serif;
}

a:visited {
  color: antiquewhite;
}

a:hover {
  color: antiquewhite;
}

a {
  color: antiquewhite;
  text-decoration: none;
  font-size: 1.2em;
}


/*
=============================================
MEDIA QUERIES
=============================================
*/

@media (min-width: 360px) {
  .title {
    bottom: 27%;
  }
}

@media (min-width: 375px) {
  .title {
    bottom: 65%;
  }
}

@media (min-width: 411px) {
  .title {
    bottom: 21%;
  }
}

@media (min-width: 480px) {
  .title {
    position: absolute;
    top: 234px;
    left: 29px;
    font-size: 1.2em;
    letter-spacing: 0.4rem;
    color: antiquewhite;
  }

  #banner-image {
    display: none;
  }

  #banner-video {
    width: 100%;
    display: block;
  }

  .title h1 {
    font-size: 2.5em;
  }

  .title-buttons {
    display: none;
  }
}

@media (min-width: 768px) {
  .title {
    top: 322px;
    left: 73px;
    font-size: 1.5em;
  }
}

@media (min-width: 992px) {
  .title {
    position: absolute;
    top: 379px;
    left: 61px;
    font-size: 2.5em;
    letter-spacing: 0.4rem;
    color: antiquewhite;
  }
}

@media (min-width: 1200px) {
  .title {
    top: 489px;
    left: 57px;
    font-size: 2.5em;
  }
}

@media (min-width: 1480px) {
  .title {
    top: 607px;
    left: 118px;
  }
}