/* You can add global styles to this file, and also import other style files */
/* @import '~@angular/material/prebuilt-themes/indigo-pink.css'; */

body {
  font-family: 'Raleway', sans-serif;
}

.cdk-overlay-backdrop, .cdk-overlay-dark-backdrop, .cdk-overlay-backdrop-showing {
  opacity: 0.7 !important;
}

.cdk-overlay-dark-backdrop {
  background-color: #111 !important;
}

button {
  border: 1px solid #495267;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 5px;
  font-size: 12px;
  text-decoration: none;
  display: inline-block;
  text-shadow: -1px -1px 0 rgba(0, 0, 0, 0.3);
  font-weight: bold;
  color: #FFFFFF;
  background-color: #606c88;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#606c88), to(#3f4c6b));
  background-image: -webkit-linear-gradient(top, #606c88, #3f4c6b);
  background-image: -moz-linear-gradient(top, #606c88, #3f4c6b);
  background-image: -ms-linear-gradient(top, #606c88, #3f4c6b);
  background-image: -o-linear-gradient(top, #606c88, #3f4c6b);
  background-image: linear-gradient(to bottom, #606c88, #3f4c6b);
  filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0, startColorstr=#606c88, endColorstr=#3f4c6b);
}

button:hover {
  border: 1px solid #363d4c;
  background-color: #4b546a;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#4b546a), to(#2c354b));
  background-image: -webkit-linear-gradient(top, #4b546a, #2c354b);
  background-image: -moz-linear-gradient(top, #4b546a, #2c354b);
  background-image: -ms-linear-gradient(top, #4b546a, #2c354b);
  background-image: -o-linear-gradient(top, #4b546a, #2c354b);
  background-image: linear-gradient(to bottom, #4b546a, #2c354b);
  filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0, startColorstr=#4b546a, endColorstr=#2c354b);
}
